<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!-- MAPPATURA ORACLE / ACTIVE DIRECTORY -->

    <add key="rel_colonne_1" value="EMAIL $ mail"/>
    <add key="rel_colonne_2" value="COGNOME $ sn"/>
    <add key="rel_colonne_3" value="NOME $ givenname"/>
    <!-- <add key ="rel_colonne_4" value ="CONCAT(PIANO || ' ', STANZA) AS UFFICIO $ physicalDeliveryOfficeName"/> -->
    <add key="rel_colonne_4" value="CONCAT('PIANO ' || PIANO || ' - ', 'STANZA ' || STANZA) AS UFFICIO $ physicalDeliveryOfficeName"/>
    <add key="rel_colonne_5" value="INDIRIZZO $ streetAddress"/>
    <add key="rel_colonne_6" value="PROFILO $ Title"/>
    <add key="rel_colonne_7" value="COMUNE $ l"/>
    <add key="rel_colonne_8" value="TELINTERNO $ telephoneNumber"/>
    <add key="rel_colonne_9" value="ACRONIMODIPA $ company"/>
    <add key="rel_colonne_10" value="CONCAT(ACRONIMODIRE || ' ', ACRONIMOUNDI) AS ACRONIMO $ department"/>


    <!-- MAPPATURA SQL SERVER / ACTIVE DIRECTORY -->
    <!--
    
    <add key ="rel_colonne_1" value ="[Directory Name] | cn"/>
    <add key ="rel_colonne_2" value ="[Display Name] | displayname"/>
    <add key ="rel_colonne_3" value ="[E-mail] | mail"/>
    <add key ="rel_colonne_4" value ="[First Name] | sn"/>
    <add key ="rel_colonne_5" value ="[Last Name] | givenname"/>
    <add key ="rel_colonne_6" value ="[Delivery Office] | physicalDeliveryOfficeName"/>
    <add key ="rel_colonne_7" value ="[Street] | streetAddress"/>
    <add key ="rel_colonne_8" value ="[Title] | Title"/>
    <add key ="rel_colonne_9" value ="[Company] | Company"/>
    <add key ="rel_colonne_10" value ="[Department] | department"/>
    <add key ="rel_colonne_11" value ="[City] | l"/>
    <add key ="rel_colonne_12" value ="[phone] | telephoneNumber"/>
      -->
  </appSettings>

</configuration>
